

.places__image {
  object-fit: contain;
  max-width: 47.4%;

}

@media screen and (max-width: 1024px) {

  .places__image {
    height: 440px;
  }
}

@media screen and (max-width: 768px) {

  .places__image {
    height: 340px;
  }
}

@media screen and (max-width: 320px) {

  .places__image {
    height: 320px;
    max-width: 100%;
  }
}
