
.lead {
  max-width: 984px;
  margin: 58px auto 92px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1024px) {

  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {

  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {

  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}
