
.photo-grid__item {
  background-size: cover;
  max-height: 213px;
}

.photo-grid__item_highway {
  background-image: url(../../images/photo-grid-highway.jpg);
}

.photo-grid__item_lake {
  background-image: url(../../images/photo-grid-lake.jpg);
}

.photo-grid__item_seagulls {
  background-image: url(../../images/photo-grid-seagulls.jpg);
}

.photo-grid__item_boise {
  background-image: url(../../images/photo-grid-boise.jpg);
}

.photo-grid__item_fog {
  background-image: url(../../images/photo-grid-fog.jpg);
}

.photo-grid__item_valley {
  background-image: url(../../images/photo-grid-valley.jpg);
}

.photo-grid__item_pass {
  background-image: url(../../images/photo-grid-pass.jpg);
}

.photo-grid__item_twig {
  background-image: url(../../images/photo-grid-twig.jpg);
}

.photo-grid__item_clouds {
  background-image: url(../../images/photo-grid-clouds.jpg);
}

.photo-grid__item_oasis {
  background-image: url(../../images/photo-grid-oasis.jpg);
}

.photo-grid__item_wires {
  background-image: url(../../images/photo-grid-wires.jpg);
}

.photo-grid__item_road {
  background-image: url(../../images/photo-grid-road.jpg);
}


@media screen and (max-width: 1024px) {

  .photo-grid__item {
    max-height: 225px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .photo-grid__item {
    max-height: 264px;
    width: 100%;
  }
}


@media screen and (max-width: 320px) {

  .photo-grid__item {
    height: 216px;
    width: 100%;
  }
}
