
.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 768px) {

  .lead__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 435px) {

  .lead__title {
    font-size: 68px;
  }
}

@media screen and (max-width: 320px) {

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 50px 16px 16px;
  }
}
