
.lead__subtitle {
  max-width: 620px;
  margin: 0 auto 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 768px) {

  .lead__subtitle {
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media screen and (max-width: 320px) {

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0 16px 40px;
  }
}
