.page__container {
  max-width: 92.5%;
  margin: 34px auto 92px;
}

@media screen and (max-width: 1024px) {

  .page__container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .page__container {
    margin: 34px auto 88px;
  }
}

@media screen and (max-width: 320px) {

  .page__container {
    margin: 20px auto 114px;
  }
}


